body{
  margin: 0;
  font-family: 'Domine', serif;
}
.top{
  color: #420516;
}
h1{
  margin-top: 0;
  font-family: 'Cinzel', serif;
}
h6{
  font-family: 'Raleway', sans-serif;
}
.middle{
  width: 200px;
  height: 200px;

}
.bottom{
  width: 200px;
  height: 200px;
}
div{
  text-align: center;
}

span{
  position: relative;
  top: 218px;
}
.watercolor{
  height: 550px;
  width: 580px;
  position: absolute;
  left: 32%;
}

.menu{
  width: 50px;
  height: 60px;
  position: relative;
  left: 95.4%;
  bottom: 480px;
}
.menu:hover{
  width: 60px;
  height: 70px;
}
